* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-blue: rgb(11, 19, 43);
  --space-blue: rgb(28, 37, 65);
  --grey: rgb(58, 80, 107);
  --blue: rgb(91, 192, 190);
  --white: rgb(255, 255, 255);
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  font-size: 4.2vh;
  font-weight: bold;
  color: var(--white);
}

.logo {
  height: 90%;
}

.conteiner {
  width: 90vw;
  height: 80vh;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* another */

.input:focus {
  outline: none;
}

.button {
  width: 20%;
  height: 60%;
}

.input {
  width: 90%;
  height: 60%;
  display: flex;
}

/* budget */

.budget {
  width: 90%;
  height: 10%;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}

.budget-input {
  width: 70%;
  height: 60%;
  display: flex;
}

.budget-accpet {
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-budget {
  display: none;
  font-size: 2.2vw;
}

.final-budget-value {
  display: none;
  font-size: 2vw;
}

/* data */

.data {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.data-conteriner {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dataInputs {
  width: 90%;
  height: 80%;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  flex-wrap: wrap;
}

.data-button {
  width: 70%;
  height: 60%;
  display: flex;
  margin-bottom: 1.1%;
  justify-content: center;
  align-items: center;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-conteriner {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.input-conteriner {
  height: 11%;
  width: 95%;
  display: flex;
}

.name {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
}

.sumMoney {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* analysis */

.analysis {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.statistic {
  width: 90%;
  height: 70%;
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 13%;
  height: 0px;
  border: 1px solid black;
  border-bottom: none;
  align-self: flex-end;
 
  transition: 0.4s;
}

.column-text {
  display: flex;
  justify-items: center;
  font-size: 80%;
  transition: 0.4s;
  position: absolute;
  top: 0;
  
}

.procent {
  display: flex;
  position: absolute;
  top: -20px;
}

/* facts */

.facts {
  width: 90%;
  height: 20%;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.cancle-final-button {
  display: none;
  justify-content: center;
  align-items: center;
}

.calculate {
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information-conteiner {
  width: 70%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-again-conteriner {
  width: 30%;
  height: 100%;
  display: none;
  border-left: 1px solid black;
  justify-content: center;
  align-items: center;
}

.again-button {
  width: 70%;
  height: 30%;
}

.fact {
  width: 100%;
  height: 33%;
  display: none;
  align-items: center;
  margin-left: 2%;
}
