* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --coreRed: #d2161e;
  --bg: #414752;
  --button: #ffcc00;
  --white: #ffffff;
  --core: #272a30;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100vh;
}

header {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--coreRed);
  font-size: 4.2vh;
  font-weight: bold;
  color: var(--white);
}

.logo {
  height: 90%;
}

.conteiner {
  width: 90vw;
  height: 80vh;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* another */

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 2vh;
}

.budget-input::placeholder {
  font-size: 1.8vh;
}

.button {
  width: 20%;
  height: 60%;
}

.input {
  width: 90%;
  height: 60%;
  display: flex;
  background-color: var(--white);
  color: var(--bg);
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
}

/* budget */

.budget {
  width: 90%;
  height: 10%;
  display: flex;
  border: 1px solid var(--core);
  background-color: var(--core);
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

.budget-input {
  width: 70%;
  height: 60%;
  display: flex;
  background-color: var(--white);
  color: var(--bg);
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
}

.budget-accpet {
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  border: none;
  border-radius: 15px;
  font-size: 1.2vh;
  font-weight: bold;
}

.final-budget {
  display: none;
  font-size: 2.8vw;
}

.final-budget-value {
  display: none;
  font-size: 2vw;
}

/* data */

.data {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.data-conteriner {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dataInputs {
  width: 90%;
  height: 80%;
  display: flex;
  border: 1px solid var(--core);
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--core);
  color: var(--white);
  border-radius: 15px;
}

.data-button {
  width: 70%;
  height: 60%;
  display: flex;
  margin-bottom: 1.1%;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  border: none;
  border-radius: 15px;
  font-size: 1.2vh;
  font-weight: bold;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-conteriner {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.input-conteriner {
  height: 11%;
  width: 95%;
  display: flex;
}

.name {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
}

.sumMoney {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* analysis */

.analysis {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.statistic {
  width: 90%;
  height: 70%;
  display: flex;
  border: 1px solid var(--core);
  justify-content: space-around;
  background-color: var(--core);
  color: var(--bg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 13%;
  height: 0px;
  border: 1px solid var(--bg);
  border-bottom: none;
  align-self: flex-end;
  background-color: var(--bg);
  border-radius: 15px;
  transition: 0.4s;
}

.column-text {
  display: flex;
  justify-items: center;
  font-size: 0.6vh;
  transition: 0.4s;
  position: absolute;
  bottom: -15px;
}

.procent {
  display: flex;
  position: absolute;
  top: -20px;
  color: var(--bg);
}

/* facts */

.facts {
  width: 90%;
  height: 20%;
  display: flex;
  border: 1px solid var(--core);
  justify-content: center;
  align-items: center;
  background-color: var(--core);
  color: var(--white);
  border-radius: 15px;
}

.cancle-final-button {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  border: none;
  border-radius: 15px;
  color: var(--bg);
  font-size: 1.2vh;
  font-weight: bold;
}

.calculate {
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button);
  border: none;
  border-radius: 15px;
  font-size: 1.2vh;
  font-weight: bold;
}

.information-conteiner {
  width: 70%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-again-conteriner {
  width: 30%;
  height: 100%;
  display: none;
  border-left: 1px solid black;
  justify-content: center;
  align-items: center;
}

.again-button {
  width: 70%;
  height: 30%;
  align-items: center;
  justify-content: center;
  background-color: var(--button);
  border: none;
  border-radius: 15px;
  color: var(--bg);
  font-size: 1.2vh;
  font-weight: bold;
}

.fact {
  width: 100%;
  height: 33%;
  display: none;
  align-items: center;
  margin-left: 2%;
  font-size: 1.2vh;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: var(--core);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
}
